{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block meta %}
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="robots" content="index,follow" />
{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
<div class="row">
	<div class="col-md-12">
		<form action="." method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			{% for field in form %}
				<div class="col-md-4">
					<div class="form-group">
						{{ field.errors }}
						{% if field.field.required %}
						{{ field.label_tag }} <span class="asterisk">*</span>
						{% else %}
						{{ field.label_tag }}
						{% endif %}
						{{ field }}
					</div>
				</div>
			{% endfor %}
			<div class="clearfix"></div>
			<div class="col-md-4">
			<button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
			</div>
			<div class="clearfix"></div>
		</form>
	</div>
</div>
{% endblock %}
