{% extends "base.html" %}
{% block title %}Cities{% endblock %}
{% block meta %}
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="robots" content="index,follow" />
{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<h1>Cities</h1>
		</div>
		<ol class="breadcrumb">
			<li><a href="/">Home</a></li>
			<li class="active">Cities</li>
		</ol>
	</div>
	<div class="col-md-12">
		<table class="table table-bordered table-striped">
			<tr>
				<th>Name</th>
                <th>Country ISO-Code</th>
				<th>Country</th>
				<th>Update</th>
			</tr>
			{% for city in cities %}
				<tr>
					<td><a href="{{city.get_absolute_url}}">{{city.name}}</a></td>
					<td>{{city.country.iso_code}}</td>
					<td>{{city.country.name}}</td>
					<td><a class="btn btn-primary btn-sm" href="{{city.get_absolute_url}}update/" role="button">Update</a></td>
				</tr>
			{% endfor %}
		</table>
	</div>
</div>
{% endblock %}
