{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block meta %}
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="robots" content="index,follow" />
{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<h1>{{data_center_room.name}} <small>{{data_center_room.building.name}}</small></h1>
		</div>
		<ol class="breadcrumb">
			<li><a href="/">Home</a></li>
			<li><a href="/country/">Countries</a></li>
			<li><a href="{{data_center_room.building.city.country.get_absolute_url}}">{{data_center_room.building.city.country.name}}</a></li>
			<li><a href="{{data_center_room.building.city.get_absolute_url}}">{{data_center_room.building.city.name}}</a></li>
			<li><a href="{{data_center_room.building.get_absolute_url}}">{{data_center_room.building.name}}</a></li>
			<li class="active"><a href="{{data_center_room.get_absolute_url}}">{{data_center_room.name}}</a></li>
		</ol>
	</div>
	<div class="col-md-12">
		<h2>Racks</h2>
		<p><a class="btn btn-primary btn-sm" href="{{data_center_room.get_absolute_url}}rack/add/" role="button">Add Rack</a></p>
		<table class="table table-bordered table-striped">
			<tr>
				<th>Name</th>
				<th>Model</th>
				<th>Owner</th>
				<th>Manager</th>
				<th>Customer</th>
				<th>Total / Empty Space</th>
				<th>Date Installed</th>
			</tr>
			{% for rack in racks %}
				<tr>
					<td><a href="{{rack.get_absolute_url}}">{{rack.name}}</a></td>
					<td>{{rack.model}}</td>
					<td>{{rack.owner}}</td>
					<td>{{rack.manager}}</td>
					<td>{{rack.customer}}</td>
					<td>{{rack.height}}U / {{rack.number_of_empty_rack_units}}U</td>
					<td>{{rack.date_installed}}</td>
				</tr>
			{% endfor %}
		</table>
	</div>
</div>
{% endblock %}
