{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block meta %}
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="robots" content="index,follow" />
{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<h1><small>Device</small> {{device.brand}} {{device.model}} {{device.type}} <small>{{device.cabinet}}</small></h1>
		</div>
	</div>
	<div class="col-md-12">
		<table class="table table-bordered">
			<tr>
				<th>Name</th>
				<td>{{device.name}}</td>
			</tr>
            <tr>
				<th>Type</th>
				<td>{{device.type}}</td>
			</tr>
			<tr>
				<th>Manufacturer</th>
				<td>{{device.manufacturer}}</td>
			</tr>
			<tr>
				<th>Model</th>
				<td>{{device.model}}</td>
			</tr>
			<tr>
				<th>Serial</th>
				<td>{{device.serial}}</td>
			</tr>
			<tr>
				<th>Owner</th>
				<td>{{device.owner}}</td>
			</tr>
			<tr>
				<th>Manager</th>
				<td>{{device.manager}}</td>
			</tr>
			<tr>
				<th>Cabinet</th>
				<td>{{device.cabinet}}</td>
			</tr>
			<tr>
				<th>Rack</th>
				<td>{{device.rack_first}}-{{device.rack_last}}</td>!
			</tr>
		</table>
	</div>
	<div class="col-md-12" style="margin:10px;">
		<a class="btn btn-primary btn-sm" href="{{device.get_absolute_url}}port/add/" role="button">Add Port</a>
	</div>
	<div class="col-md-12">
		<h2>Reserved Ports</h2>
		<table class="table table-bordered table-striped">
			<tr>
				<th>Type</th>
				<th>Local Port</th>
				<th>Connected Port</th>
			</tr>
			{% for port in device.find_ports %}   <!--buradaki fonksiyon hatalı, reserved_ports olmalı, ama tabii reserved_ports calismiyor henuz -->
				<tr>
					<td>{{port.type}}</td>
					<td><a href="{{port.get_absolute_url}}" title="{{port}}">{{port.name}}</a></td>
					<td><a href="{{port.find_connection_edge.get_absolute_url}}" title="{{port.find_connection_edge}}">{{port.find_connection_edge.name}}</a></td>
				</tr>
			{% endfor %}
		</table>
		<h2>Unreserved Ports</h2>
		<table class="table table-bordered table-striped">
			<tr>
				<th>Type</th>
				<th>Name</th>
			</tr>
			{% for port in unreserved_ports %}
				<tr>
					<td>{{port.type}}</td>
					<td><a href="{{port.get_absolute_url}}" title="{{port}}">{{port.name}}</a></td>
				</tr>
			{% endfor %}
		</table>
	</div>
</div>
{% endblock %}
