{% extends "base.html" %}
{% block title %}Device Types{% endblock %}
{% block meta %}
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="robots" content="index,follow" />
{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<h1>Device Types</h1>
		</div>
		<ol class="breadcrumb">
			<li><a href="/">Home</a></li>
			<li class="active">Device Types</li>
		</ol>
	</div>
	<div class="col-md-12" style="margin:10px;">
		<a class="btn btn-primary btn-sm" href="/device-type/add/" role="button">Add Device Type</a>
	</div>
	<div class="col-md-12">
		<table class="table table-bordered table-striped">
			<tr>
				<th>Name</th>
				<th>Update</th>
			</tr>
			{% for device_type in device_types %}
				<tr>
					<td><a href="{{device_type.get_absolute_url}}">{{device_type.name}}</a></td>
					<td><a class="btn btn-primary btn-sm" href="{{device_type.get_absolute_url}}update/" role="button">Update</a></td>
				</tr>
			{% endfor %}
		</table>
	</div>
</div>
{% endblock %}
