{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block meta %}
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="robots" content="index,follow" />
{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
<div class="row">
	<div class="col-md-3">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Companies</h3>
			</div>
			<div class="panel-body">
				<a class="btn btn-primary btn-sm" href="/company/add/" role="button">Add Company</a>
				{% for company in companies %}
					<p><a href="{{company.get_absolute_url}}">{{company}}</a></p>
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Data Center Rooms</h3>
			</div>
			<div class="panel-body">
				{% for dc in dcs %}
					<p><a href="{{dc.get_absolute_url}}">{{dc}}</a></p>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
