{% extends "base.html" %}
{% block title %}Racks{% endblock %}
{% block meta %}
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="robots" content="index,follow" />
{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<h1>Racks</h1>
		</div>
		<ol class="breadcrumb">
			<li><a href="/">Home</a></li>
			<li class="active">Racks</li>
		</ol>
	</div>
	<div class="col-md-12">
		<table class="table table-bordered table-striped">
			<tr>
				<th>Name</th>
				<th>Model</th>
				<th>Height</th>
				<th>Date</th>
				<th>Owner</th>
				<th>Manager</th>
				<th>Data Center Room</th>
				<th>Update</th>
			</tr>
			{% for rack in racks %}
				<tr>
					<td><a href="{{rack.get_absolute_url}}">{{rack.name}}</a></td>
					<td>{{rack.model}}</td>
					<td>{{rack.height}}</td>
					<td>{{rack.date_installed}}</td>
					<td><a href="{{rack.owner.get_absolute_url}}">{{rack.owner}}</a></td>
					<td><a href="{{rack.manager.get_absolute_url}}">{{rack.manager}}</a></td>
					<td><a href="{{ rack.datacenterroom.get_absolute_url }}"
                           title="{{ rack.location_string }}">
                        {{rack.datacenterroom.name}}</a></td>
					<td><a class="btn btn-primary btn-sm" href="{{rack.get_absolute_url}}update/" role="button">Update</a></td>
				</tr>
			{% endfor %}
		</table>
	</div>
</div>
{% endblock %}
