{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block meta %}
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="robots" content="index,follow" />
{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<h1>{{row.name}} <small>{{row.datacenterroom.name}}</small></h1>
		</div>
		<ol class="breadcrumb">
			<li><a href="/">Home</a></li>
			<li><a href="/country/">Countries</a></li>
			<li><a href="{{row.datacenterroom.building.city.country.get_absolute_url}}">{{row.datacenterroom.building.city.country.name}}</a></li>
			<li><a href="{{row.datacenterroom.building.city.get_absolute_url}}">{{row.datacenterroom.building.city.name}}</a></li>
			<li><a href="{{row.datacenterroom.building.get_absolute_url}}">{{row.datacenterroom.building.name}}</a></li>
			<li><a href="{{row.datacenterroom.get_absolute_url}}">{{row.datacenterroom.name}}</a></li>
			<li class="active">{{row.name}}</li>
		</ol>
	</div>
	<div class="col-md-3">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Racks</h3>
			</div>
			<div class="panel-body">
				<p><a class="btn btn-primary btn-sm" href="{{row.get_absolute_url}}rack/add/" role="button">Add Rack</a></p>
				{% if racks %}
					{% for rack in racks %}
						<p><a href="{{rack.get_absolute_url}}">{{rack.name}}</a></p>
					{% endfor %}
				{% else %}
					<i>No records</i>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
